.gallery-001 .gallery_title {
  height: 28px;
  margin-top: 27px;
  margin-bottom: 43px;
  margin-left: 4px;
  color: #184e9f;
  font-size: 30px;
  line-height: 0.8;
}
.gallery-001 .container {
  padding-left: 17px;
}
.gallery-001 .thumbnail {
  position: relative;
  margin-bottom: 10px;
  padding: 0;
  border: none;
  border-radius: 0;
}
.gallery-001 .thumbnail>img {
  margin: 0;
}
.gallery-001 .container .row .column_1, .gallery-001 .container .row .column_2, .gallery-001 .container .row .column_3 {
  padding: 0;
}
.gallery-001 .container .row .column_1 {
  padding-left: 5px;
}
.gallery-001 .container .row .column_2 {
  padding-right: 8px;
  padding-left: 6px;
}
.gallery-001 .container .row .column_3 {
  padding-left: 1px;
}
.gallery-001 .carousel .carousel-inner .item img {
  width: 100%;
  height: 200px;
}
.gallery-001 .container .row #carousel-example-generic .carousel-control {
  height: 200px;
  padding-top: 94px;
  font-size: 14px;
}
.gallery-001 .container .row button {
  margin-top: 10px;
  margin-right: 8px;
  margin-bottom: 20px;
  border: 0px solid red;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(to top, #0d47a1, #1976d2);
  background-image: -webkit-linear-gradient(bottom, #0d47a1, #1976d2);
  background-image: linear-gradient(to top, #0d47a1, #1976d2);
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0.2px;
  text-align: center;
  box-shadow: 0px 1px 1px 0 rgba(3, 3, 3, 0.45);
}
.carousel-indicators {
  bottom: 4px;
}
.glyphicon-search {
  display: flex;
  position: absolute;
  align-items: center;
  height: 100%;
  padding: 0 calc(50% - 15px);
  color: #ffd400;
  font-size: 30px;
  opacity: 0;
}
.glyphicon-search:hover {
  -moz-filter: drop-shadow(1px 1px 6px black);
  -webkit-filter: drop-shadow(1px 1px 6px black);
  -o-filter: drop-shadow(1px 1px 6px black);
  -ms-filter: drop-shadow(1px 1px 6px black);
  filter: drop-shadow(1px 1px 6px black);
  filter: drop-shadow(1px 1px 6px black);
  opacity: 1;
}
.gallery-001 .thumbnail:hover {
  -moz-filter: grayscale(0.4) hue-rotate(360deg) opacity(0.4) saturate(2.8) sepia(0.3);
  -webkit-filter: grayscale(0.4) hue-rotate(360deg) opacity(0.4) saturate(2.8) sepia(0.3);
  -o-filter: grayscale(0.4) hue-rotate(360deg) opacity(0.4) saturate(2.8) sepia(0.3);
  -ms-filter: grayscale(0.4) hue-rotate(360deg) opacity(0.4) saturate(2.8) sepia(0.3);
  filter: grayscale(0.4) hue-rotate(360deg) opacity(0.4) saturate(2.8) sepia(0.3);
}
