.menu-001 .navbar-default .navbar-collapse, .menu-001 .navbar-collapse {
  height: 60px;
  background-color: #25375A;
}
.menu_background {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: #25375A;
}
.menu-001 .navbar-brand img {
  margin: 10px 15px;
}
.menu-001 .navbar-brand {
  margin-left: 0;
  padding: 0;
}
.menu-001 .container-fluid {
  margin: 0;
  padding: 0;
  padding-right: 14px;
  border-bottom: 2px solid #d8354c;
}
.menu-001 .navbar {
  margin-right: -7px;
  margin-left: 22px;
  border: none;
}
.menu-001 .navbar-right {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.menu-001 .row>div {
  padding-left: 0;
}
.menu-001 .navbar-default .navbar-nav>li>a {
  height: 60px;
  padding-top: 18px;
  color: white;
}
.menu-001 .navbar-default .navbar-nav>li>a:hover {
  color: #64b5f6;
}
.menu-001 .navbar-default .navbar-right>li {
  height: 60px;
}
.menu-001 .dropdown-menu {
  right: -50px;
  padding: 12px 0;
  border: none;
  border-top: 2px solid #2964bc;
  background-color: #19294E;
}
.menu-001 .dropdown-menu::before {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0 calc(50% - 5px);
  margin-top: -21px;
  border-right: 6px solid transparent;
  border-bottom: 7px solid #2964bc;
  border-left: 6px solid transparent;
  content: "";
}
.menu-001 .navbar-default .navbar-nav>.open>a, .menu-001 .navbar-default .navbar-nav>.open>a:focus, .menu-001 .navbar-default .navbar-nav>.open>a:hover {
  background-color: #25375A;
  color: #64b5f6;
}
.menu-001 .dropdown-menu li a {
  padding: 0;
  padding-right: 19px;
  padding-left: 19px;
  background-color: #19294E;
  color: white;
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 2;
}
.menu-001 .dropdown-menu li a:hover {
  color: #64b5f6;
}
.menu-001 .dropdown-toggle span {
  font-size: 8px;
}
